@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&family=Urbanist:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Urbanist, sans-serif;
    font-weight: 400;
    color: black;
}

/* Headings and Logo*/

h1,
h2 {
    font-family: Signika Negative, sans-serif;
    color: darkgreen;
    font-size: 200%;
}

#logo {
    float: left;
    font-size: 500%;
}

/* Navigation links */

#menu {
    font-size: 150%;
    line-height: 160px;
}

#logo {
    line-height: 80px;
    margin-left: 20px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 2px solid darkgreen;
}

.active {
    border-bottom: 2px solid darkgreen;
}

/* hero image */

#hero-drift {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;


    /* animation drift effect on landing page*/

    animation-name: hero-drift;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of drift of hero image */

@keyframes hero-drift {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

/* into to club*/

#intro-to-club {
    height: 400px;
}

#intro-content {
    padding-top: 20px;
    width: 45%;
    margin: auto;
    text-align: center;
    font-size: 150%;
}

/* footer */

footer {
    height: 150px;
    background-color: darkgreen;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: white;
}

/* about us main content */

#about-us {
    height: 900px;

}

#left-about {
    padding-top: 50px;
    width: 40%;
    float: left;

}

#right-about {
    padding-top: 100px;
    width: 50%;
    float: right;
    margin-right: 30px;
    height: 200px;
}

.left-about-content {
    width: 100%;
    margin-left: 20px;
    font-size: 150%;


}

#about-us-img {
    height: 600px;
    width: 100%;
}

/*additional info */

#add-info {
    padding: 10px 0 10px 0;
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 150%;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;

}

#photos>img {
    width: 100%;
    display: block;

}