@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Urbanist:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Urbanist, sans-serif;
    font-weight: 400;
    color: black;
}

/* Headings, sigil and Logo*/

header {
    height: 170px;
}

h1,
h2 {
    font-family: Germania One, sans-serif;
    color: darkgreen;
    font-size: 200%;
}

h3 {
    font-family: sans-serif;
    color: white;
}

#logo {
    float: left;
    font-size: 500%;
    line-height: 80px;
    margin-left: 20px;
}



#sigil {
    height: 150px;
    /* width: 10%; */
    display: inline;
    margin: 1% 0 0 4%;


}

#sigil-img {

    height: 150px;
    /* width: 10%; */
    display: inline;
    margin: 1% 0 0 4%;
}

/* Navigation links */

#menu {
    font-size: 150%;
    line-height: 160px;
    display: inline;
}

/* #logo {
    line-height: 80px;
    margin-left: 20px;
} */

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;


}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 2px solid darkgreen;
}

.active {
    border-bottom: 2px solid darkgreen;
}

/* hero image */

#hero-section {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;


    /* animation drift effect on landing page*/

    /* animation-name: hero-drift;
    animation-duration: 5s;
    animation-fill-mode: forwards; */
}

/* level of drift of hero image */

/* @keyframes hero-drift {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
} */

/* into to club*/

#intro-to-club {
    height: 300px;
    padding-top: 30px;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 150%;
}

/* #intro-content {
    padding-top: 20px;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-size: 150%;
} */

/*map*/
#map {
    border: 1px darkgreen;
}

/* footer */

footer {
    height: 150px;
    background-color: darkgreen;

}

.social-links {
    text-align: center;
    /* margin-right: 200px; */
    margin: 0 auto;
    clear: both
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 4%;
    color: white;
}

#contact-info {
    float: left;
    color: #fff;
    margin: 5px 0 0 5px;

}

/* about us main content */

hr {
    border-top: 2px solid darkgreen;
    width: 100%;
    margin: 1px 0;
}

#about-us {
    height: 900px;

}

#left-about {
    padding-top: 50px;
    width: 40%;
    float: left;

}


.left-about-content {
    width: 100%;
    margin-left: 20px;
    font-size: 150%;
    margin-bottom: 50px;
    clear: both;
}

#right-about {
    padding-top: 100px;
    width: 50%;
    float: right;
    margin-right: 40px;
    height: 200px;
}

#about-us-img {
    height: 920px;
    width: 100%;
    border: 5px solid darkgreen;

}

/*additional info */

#add-info {
    padding: 215px 0 10px 10px;
    width: 65%;
    margin: auto;
    text-align: center;
    font-size: 150%;
}


/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;

}

#photos>img {
    width: 100%;
    display: block;

}

/* contact us */

#contact-us {
    clear: both;
    background: url('../images/ball-g767b9fbcb_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 800px
}

.contact-us-form {
    margin: 50px 10% 0 0;
    color: #fff;
    background-color:
        rgba(1, 50, 32, 0.6);
    max-width: 400px;
    position: absolute;
    left: 5%;
    padding: 30px;
}

.contact-us-form h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: lightgreen;
}

.submit-button {
    margin-top: 20px;
    border-radius: 50px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: lightgreen;
    color: black;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: darkgreen;
}

#message {
    height: 100px;

}

#address {

    margin: 20% 30px 0 0;
    color: #fff;
    background-color:
        rgba(1, 50, 32, 0.6);
    max-width: 400px;
    /* left: 5%; */
    padding: 30px;
    float: right;
}

#address h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

/* media queries */

/* for large to medium size screens 1200px wide and below*/

@media screen and (max-width: 1300px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    #right-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        text-align: center;



    }

    #about-us-img {
        height: auto;
        width: 65%;
        border: 5px solid darkgreen;
        margin: 0 auto;
    }

    #left-about {
        padding-top: 20px;
        width: 90%;
        float: left;

    }

    /* footer {
        height: 10em;

    } */

    /* .social-links {



        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        text-align: center;


    } */

}

/* for medium to small size screens 700px wide and below*/

@media screen and (max-width: 689px) {

    header {
        height: 20em;
    }

    #head {
        margin: 0 auto;
    }

    #hero-image #hero-section {
        height: 200px;


    }
}



@media screen and (max-width: 580px) {

    header {
        height: 2em;
    }





}

@media screen and (max-width: 555px) {

    #menu li {
        margin-right: 15px;
    }

    #menu {
        font-size: 150%;
        line-height: 60px;
    }
}

@media screen and (max-width: 460px) {
    #menu li {
        margin-right: 10px;
    }

    #menu {
        font-size: 110%;
        line-height: 30px;
    }

    #logo {
        font-size: 200%;
        line-height: 50px;
    }


}

@media screen and (max-width: 1089px) {

    #hero-image #hero-section {
        height: 400px;


    }



    #intro-to-club {
        height: 300px;
        padding-top: 0%;
        width: 60%;
        margin: 0 auto;
        text-align: center;
        font-size: 140%;
    }

    #intro-content {
        margin-top: 1px;
    }

    #left-about {
        font-size: 100%;
    }

}

@media screen and (max-width: 908px) {

    #intro-to-club {
        height: 300px;
        padding-top: 0%;
        width: 70%;
        margin: 0 auto;
        text-align: center;
        font-size: 120%;
    }

    #left-about {
        font-size: 80%;
    }

}

@media screen and (max-width: 565px) {

    #intro-to-club {
        height: 300px;
        padding-top: 0%;
        width: 95%;
        margin: 0 auto;
        text-align: center;
        font-size: 105%;
    }

    #left-about {
        font-size: 60%;
    }

    #about-us-img {

        width: 80%;

    }