@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&family=Urbanist:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Urbanist, sans-serif;
    font-weight: 400;
    color: black;
}

/* Headings and Logo*/

h1,
h2 {
    font-family: Signika Negative, sans-serif;
    color: darkgreen;
}

#logo {
    float: left;
    font-size: 500%;
}

/* Navigation links */

#menu {
    font-size: 150%;
    line-height: 160px;
}

#logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 2px solid darkgreen;
}

.active {
    border-bottom: 2px solid darkgreen;
}

/* hero image */

#hero-drift {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;


    /* animation drift effect on landing page*/

    animation-name: hero-drift;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* level of drift of hero image */

@keyframes hero-drift {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}